/* Vos customisations des classes de Bootstrap */
 /* police h1*/

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poiret+One&family=Roboto:ital,wght@0,400;0,500;1,300;1,400&display=swap');




*{
    margin: 0;
    padding: 0;
}

/* partie header */
.flex{
    display: flex;
  
    
}

header{
    padding: 1%;
    justify-content: center;
    gap: 50%;
    background-color: #222222;
}

.a-header{
    gap: 2%;
    align-items: center;
    
}


.a-header a{
    color: white; 
    text-decoration: none;
    margin-right: 15px;

}

/* fin de code */


/* partie home */

.background-home{
    justify-content:  center;
    padding: 50px;
    text-align: center;
    background-image: url("../images/hero-image.jpg");
    height: 65vh;
    color: white;
    align-items: center;
    
}

.collumn{
    display: flex;
    flex-direction: column;
}

.a-home a{
  text-decoration: none;
  background-color: #D9534F;
  padding: 10px 17px;
  color: white;
  border-radius: 7%;
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

.a-home{
    padding: 30px;
}


.pad-p{
    padding: 1%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;

   
}

.police-h1{
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 56px;
}
/* fin de code */


/* partie who */

.who-back{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 50px;
}

.who-back p{
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

hr{
    border: none;
  border-top: 2px solid #D9534F;
  color:  #D9534F;
  overflow: visible;
  text-align: center;
  height: 5px;
  width: 200px;
}

.who-back h2{
    padding: 20px;
    font-family: "Arvo", serif;
    font-weight: 600;
    font-style: normal;
    color: #D9534F;
}

/* fin de code */

/* partie get */


.get-back{
    background-color: #F5F5F5;
    display: flex;
   flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.get-back h2{
    padding: 20px;
    font-family: "Arvo", serif;
    font-weight: 600;
    font-style: normal;
    color: #D9534F;
    
}

.get-back p{
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    
}

.card{
    text-align: center;
    padding: 40px;
   
}



/* fin de code */


/* Responsive Styling */

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}
